# 기초문법

In [1]:
#아나콘다 다운로드

## 연산

In [13]:
12+2

14

In [14]:
4*5

20

In [15]:
5-1

4

In [16]:
40/2

20.0

In [17]:
40%3

1

In [18]:
40//3

13

In [124]:
# alt + 좌우 = 끝으로 이동
# ctrl + 좌우 = 단어 끝으로 이동
# 텍스트 선택후 ctrl + / = 주석으로 만들기

## 문자

In [26]:
"hi" + "ola"

'hiola'

In [31]:
"i\'m a boy"

"i'm a boy"

## 메소드, 함수

In [32]:
# 문자열 함수 중 len 
len("Ola")

3

In [33]:
# 문자열 매소드 중 upper() : 소문자를 대문자로 바꿔줌
"Ola".upper()

'OLA'

In [43]:
# 사용자 정의 함수 : sum
# 함수 정의
def sum(a,b):
    c = a+b
    return c

In [46]:
# x, y 변수 선언
x=1
y=2

In [123]:
# 함수호출
sum(x,y)

3

In [47]:
x

1

In [52]:
# 오류
len(35211)

TypeError: object of type 'int' has no len()

In [53]:
len(str(35211))

5

In [56]:
name = "Ola"
name

'Ola'

In [72]:
name = "Ola"
print(name)
# print 를 사용시 변수를 여러가지 출력 가능
# tab 사용시 자동 함수 완성

Ola

In [59]:
len(name)

3

## 리스트 : [1, 2, 3, 5]

리스트는 순서가 있는 데이터

In [63]:
lottery = [3, 42, 12, 19, 30, 59]

lottery

[3, 42, 12, 19, 30, 59]

In [65]:
len(lottery)

6

In [66]:
lottery.sort()
# 오름차순정렬

In [67]:
lottery

[3, 12, 19, 30, 42, 59]

In [68]:
lottery.reverse()
# 내림차순

In [69]:
lottery

[59, 42, 30, 19, 12, 3]

In [75]:
# append 함수(끝에 넣기)
lottery. append(35)
lottery

[59, 42, 30, 19, 12, 3, 35, 3, 35]

In [80]:
list(set(lottery))

[3, 35, 42, 12, 19, 59, 30]

In [81]:
lottery.sort()
lottery

[3, 3, 12, 19, 30, 35, 35, 42, 59]

## 리스트 인덱싱 : 요소찾기

In [82]:
lottery[3]

19

In [83]:
lottery[-1]

59

In [84]:
# pop : 리스트에서 맨마지막 요소를 삭제할때
lottery.pop()

59

In [86]:
lottery

[3, 3, 12, 19, 30, 35, 35, 42]

In [88]:
# 0에서 3까지(3 포함x)
lottery[0:3]

[3, 3, 12]

## 딕셔너리 : {'name':'ola, 'age':25}

딕셔너리는 순서가 없고,key:value로 이루어진 데이터 저장소

In [91]:
participant = {'name':'Ola', 'country':'Poland', 'favorite_number':[7,49.63]}
participant

{'name': 'Ola', 'country': 'Poland', 'favorite_number': [7, 49.63]}

In [92]:
participant['name']

'Ola'

In [93]:
participant['country']

'Poland'

In [95]:
participant['favorite_number']

[7, 49.63]

In [101]:
#딕셔너리 추가
participant['favorite_langauge'] = 'Python'

In [100]:
participant

{'name': 'Ola',
 'country': 'Poland',
 'favorite_number': [7, 49.63],
 'favorite_langauge': 'Python'}

## 조건문(if문)

In [148]:
5>2

True

In [104]:
3<1

False

In [105]:
5>2*2

True

In [112]:
1==1
# 같다 ==

True

In [111]:
5!=2
# 아니다 !=

True

In [113]:
#True Flase는 앞을 무조건 대문자!

In [114]:
if 3 > 2 :
    print('It works!')

It works!

In [115]:
if 3 < 2 :
    print('It works!')

In [116]:
if 5 > 2 :
    print('5 is indeed greater than 2')
else:
    print('5 is not greater than 2')

5 is indeed greater than 2

In [121]:
name = str(input())
#input은 문자를 넣을수 있다

Ola

In [120]:
if name == 'Ola':
    print('Hey Ola')
elif name == 'Sonja':
    print('Hey Sonja')
else:
    print('Hey anonymous')

Hey Ola

## 함수 만들기

In [142]:
# 함수 입력
def hi():
    print("Hi there!")
    print("How are you")

In [136]:
hi()

Hi there!
How are you

In [159]:
def hi(name):
    if name == 'Ola':
        print('Hey Ola')
    elif name == 'Sonja':
        print('Hey Sonja')
    else:
        print('Hey anonymous')

In [154]:
name = 'Ola'

In [141]:
hi('Ola')

Hey Ola

## 반복문(for문,while문)

### while 문

In [146]:
n = 0
while n < 5:
    print('hi')
    n = n+1

hi
hi
hi
hi
hi

In [147]:
n = 1
while n < 5:
    print('hi')
    n = n+1

hi
hi
hi
hi

### for 문

for 그중 하나 in 반복대상

In [149]:
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']

In [150]:
for girl in girls:
    print(girl)

Rachel
Monica
Phoebe
Ola
You

In [160]:
hi('Ola')

Hey Ola

In [162]:
for girl in girls:
    hi(girl)

Hey anonymous
Hey anonymous
Hey anonymous
Hey Ola
Hey anonymous

In [163]:
def hi(name):
    print('Hi' + name + '!')
    
girls = ['Rachel', 'Monica', 'Phoebe', 'Ola', 'You']
for girl in girls:
    hi(girl)
    print('Next gril')

HiRachel!
Next gril
HiMonica!
Next gril
HiPhoebe!
Next gril
HiOla!
Next gril
HiYou!
Next gril

In [164]:
#range = 1씩 증가함(마지막은 포함X)
for i in range(1,6):
    print(i)

1
2
3
4
5